# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADMIN_SESSION_SECRET=wwi_super_secret_session_key_2026!

# Supabase Configuration (Backend uses private service role key)
SUPABASE_URL=https://svbznhvhllzruuhocmkm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_PKpVppi5iGtoqFXscey4KA_SxRf9GGy

# Cloudflare R2 Configuration (S3 compatible media storage)
R2_ACCOUNT_ID=6c28b0e0827eba9ab14775371b708494
R2_ACCESS_KEY_ID=7a77153108161275235aa0ccdcde7ae2
R2_SECRET_ACCESS_KEY=771277297bae26148ef744d1a9d8797656a23fbffc8886cb28727cd2851bf13d
R2_BUCKET_NAME=wwi-website
R2_ENDPOINT=https://6c28b0e0827eba9ab14775371b708494.r2.cloudflarestorage.com